div .slider-container {
  position: relative;
  height: 402px;
  width: 1110px;
  display: flex;
}
@media only screen and (max-width: 600px) {
  div .slider-container {
    width: 97.466vw;
  }
}
div .slider-container.left .slide.previous-slide {
  animation: fadePreviousFromL 1s;
}
div .slider-container.left .slide.next-slide {
  animation: fadeNextFromL 1s;
}
div .slider-container.left .slide.active-slide {
  animation: fadeActiveFromL 1s;
}
@media only screen and (max-width: 600px) {
  div .slider-container.left .slide.active-slide {
    animation: fadePreviousFromL 0.5s;
  }
}
div .slider-container.right .slide.previous-slide {
  animation: fadePreviousFromR 1s;
}
div .slider-container.right .slide.next-slide {
  animation: fadeNextFromR 1s;
}
div .slider-container.right .slide.active-slide {
  animation: fadeActiveFromR 1s;
}
@media only screen and (max-width: 600px) {
  div .slider-container.right .slide.active-slide {
    animation: fadeNextFromR 0.5s;
  }
}

.slide {
  flex-shrink: 0;
  height: 197px;
  width: 350px;
  opacity: 0.7;
}
.slide .slide-quote-div {
  height: 197px;
  background: #fcfcfc;
  border-radius: 10px;
}
.slide .slide-quote-div .left-double-quotes {
  position: relative;
  width: 28px;
  height: 28px;
  top: 12px;
  left: 15px;
}
@media only screen and (max-width: 600px) {
  .slide .slide-quote-div .left-double-quotes {
    top: 20px;
    left: 3.2vw;
  }
}
.slide .slide-quote-div .slide-quote-p {
  position: relative;
  width: 320px;
  top: 20px;
  left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.slide .slide-quote-div .right-double-quotes {
  position: relative;
  width: 28px;
  height: 28px;
  top: 21px;
  left: 307px;
}
@media only screen and (max-width: 600px) {
  .slide .slide-quote-div .right-double-quotes {
    top: 14px;
    left: 84vw;
  }
}
.slide .slide-customer-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide .slide-customer-review .slide-customer-image {
  position: relative;
  top: -31px;
  width: 62px;
  height: 62px;
}
.slide .slide-customer-review .slide-customer-name {
  font-family: Inter, sans-serif;
  position: relative;
  top: -33px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F1CFD6;
}
.slide .slide-customer-review .slide-customer-company {
  font-family: Inter, sans-serif;
  position: relative;
  top: -34px;
  height: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #CCCCCC;
}
.slide.previous-slide, .slide.next-slide {
  position: relative;
  top: 39px;
}
@media only screen and (max-width: 600px) {
  .slide.previous-slide, .slide.next-slide {
    display: none;
  }
}
.slide.next-slide {
  right: 38px;
}
.slide.active-slide {
  opacity: 1;
  position: relative;
  left: -19px;
  z-index: 1;
  width: 448px;
  height: 347px;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide {
    left: 0;
    width: 97.867vw;
    height: 412px;
  }
}
.slide.active-slide .slide-quote-div {
  border-radius: 20px;
  background-color: #f2f2f2;
  height: 251px;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide .slide-quote-div {
    height: 248px;
  }
}
.slide.active-slide .slide-quote-div .slide-quote-p {
  width: 384px;
  position: relative;
  top: 31px;
  left: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide .slide-quote-div .slide-quote-p {
    width: 91.467vw;
    top: 20px;
    left: 12px;
  }
}
.slide.active-slide .slide-quote-div .left-double-quotes {
  position: relative;
  top: 20px;
  left: 24px;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide .slide-quote-div .left-double-quotes {
    top: 20px;
    left: 3.2vw;
  }
}
.slide.active-slide .slide-quote-div .right-double-quotes {
  position: relative;
  top: 51px;
  left: 384px;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide .slide-quote-div .right-double-quotes {
    top: 14px;
    left: 84vw;
  }
}
.slide.active-slide .slide-customer-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide.active-slide .slide-customer-review .slide-customer-image {
  position: relative;
  top: -40px;
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide .slide-customer-review .slide-customer-image {
    border: 1px solid #790A22;
    border-radius: 50px;
  }
}
.slide.active-slide .slide-customer-review .slide-customer-name {
  position: relative;
  top: -36px;
  height: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #B81034;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide .slide-customer-review .slide-customer-name {
    top: -38px;
  }
}
.slide.active-slide .slide-customer-review .slide-customer-company {
  position: relative;
  top: -36px;
  height: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}
@media only screen and (max-width: 600px) {
  .slide.active-slide .slide-customer-review .slide-customer-company {
    top: -37px;
  }
}

.pagination {
  list-style-type: none;
  position: absolute;
  top: 377px;
  left: 500px;
  width: 99px;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 6px;
}
@media only screen and (max-width: 600px) {
  .pagination {
    display: none;
  }
}
.pagination .pagination-bullet {
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.pagination .pagination-bullet.pagination-bullet-active {
  background: #B81034;
}

.arrow-left-btn,
.arrow-right-btn {
  outline: none;
  border: none;
  z-index: 1;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 367px;
}
.arrow-left-btn:active,
.arrow-right-btn:active {
  animation: arrow-btn-clicked 0.3s ease;
}
@media only screen and (max-width: 600px) {
  .arrow-left-btn,
  .arrow-right-btn {
    height: 50px;
    width: 50px;
    top: 352px;
  }
  .arrow-left-btn:active,
  .arrow-right-btn:active {
    animation: arrow-btn-clicked-mob 0.3s ease;
  }
}
@keyframes arrow-btn-clicked {
  0% {
    top: 368px;
  }
  25% {
    top: 369px;
  }
  50% {
    top: 368px;
  }
  100% {
    top: 367px;
  }
}
@keyframes arrow-btn-clicked-mob {
  0% {
    top: 353px;
  }
  25% {
    top: 354px;
  }
  50% {
    top: 353px;
  }
  100% {
    top: 352px;
  }
}

.arrow-left-btn {
  background: url("../../assets/homepage/slider/button_left.svg");
  left: 451px;
}
@media only screen and (max-width: 600px) {
  .arrow-left-btn {
    background-size: cover;
    left: 33.067vw;
  }
}

.arrow-right-btn {
  right: 451px;
  background: url("../../assets/homepage/slider/button_right.svg");
}
@media only screen and (max-width: 600px) {
  .arrow-right-btn {
    background-size: cover;
    right: 33.067vw;
  }
}

@keyframes fadePreviousFromL {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
@keyframes fadeActiveFromL {
  0% {
    opacity: 0.8;
    left: -29vw;
    transform: scale(0.78, 0.78);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    left: -19px;
  }
}
@keyframes fadeNextFromL {
  0% {
    opacity: 1;
    transform: scale(1.27, 1.27);
    right: 29.5vw;
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
@keyframes fadePreviousFromR {
  0% {
    opacity: 1;
    transform: scale(1.27, 1.27);
    left: 27vw;
  }
  100% {
    left: 0;
    opacity: 0.8;
    transform: scale(1);
  }
}
@keyframes fadeNextFromR {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
@keyframes fadeActiveFromR {
  0% {
    opacity: 0.8;
    left: 25.4vw;
    transform: scale(0.78, 0.78);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    left: -19px;
  }
}/*# sourceMappingURL=Slider.styles.css.map */