.header-phone-number {
  text-decoration: none;

  position: absolute;
  left: 25.21%;
  right: 63.19%;
  top: 34.18%;
  bottom: 34.18%;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #FFFFFF;
}