.logo {
  position: absolute;
  left: 11.46%;
  right: 77.85%;
  top: 22.78%;
  bottom: 24.05%;

  @media only screen and (max-width: 425px) {
    left: 4.27%;
    right: 69.33%;
    top: 1.38%;
    bottom: 97.99%;
  }
}