.hamburger {
  @media only screen and (min-width: 800px){
    display: none;
  }

  width: 7.73%;;
  height: 25px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4.26%;
  top: 28.07%;

  .line {
    display: block;
    width: 62%;
    margin-bottom: 7px;

    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

    height: 1.7px;
    background-color: white;
    overflow: hidden;

    left: 20.7%;
    right: 17.23%;
    top: 22.81%;
    bottom: 77.19%;
    position: absolute;
  }

  .line:nth-child(2) {
    width: 41.37%;
    position: absolute;
    left: 31.05%;
    right: 27.57%;
    top: 50.81%;
    bottom: 49.19%;
  }

  .line:nth-child(3) {
    margin:0;
    width: 62%;
    left: 20.7%;
    right: 17.23%;
    top: 78.81%;
    bottom: 21.19%;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    .line:nth-child(2){
      width: 0;
    }

    .line:nth-child(1),
    .line:nth-child(3){
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }

    .line:nth-child(1){
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px);
    }

    .line:nth-child(3){
      -webkit-transform: translateY(-8px) rotate(90deg);
      -ms-transform: translateY(-8px) rotate(90deg);
      -o-transform: translateY(-8px) rotate(90deg);
      transform: translateY(-8px) rotate(90deg);
    }
  }
}









