.button {
  position: absolute;
  border: 0;
  height: 52px;
  width: 350px;
  top: 306px;
  color: white;
  background: #B81034;
  border-radius: 5px;
  @media only screen and (max-width: 800px) {
    position: absolute;
    top: 270px;
  }

  &:hover {
    cursor: pointer;
    background: #950D2A;
  }
  &:active {
    background: #790A22;
  }

    &:active, &:focus {
    animation-name: faded;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;

    @-webkit-keyframes faded {
      1% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(2px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }


  span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
  }
}

