div {
  .slider-container {
    top: 98px;
    position: relative;
    height: 402px;
    width: 1110px;
    display: flex;
    @media only screen and (max-width: 800px) {
      width: 367px;
      top: 140px;
    }
  }
}

.slide {
  flex-shrink: 0;
  height: 197px;
  width: 350px;
  opacity: 0.7;

  .slide-quote-div {
    height: 197px;
    background: #f2f2f2;
    border-radius: 10px;

    .left-double-quotes {
      position: relative;
      width: 28px;
      height: 28px;
      top: 12px;
      left: 15px;
      @media only screen and (max-width: 800px) {
        top: 20px;
        left: 12px;
      }
    }
    .slide-quote-p {
      position: relative;
      width: 320px;
      top: 20px;
      left: 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #333333;
    }
    .right-double-quotes {
      position: relative;
      width: 28px;
      height: 28px;
      top: 21px;
      left: 307px;
      @media only screen and (max-width: 800px) {
        top: 14px;
        left: 315px ;
      }
    }
  }
  .slide-customer-review {

    .slide-customer-image {
      position: relative;
      top: -31px;
      left: 144px;
      width: 62px;
      height: 62px;
    }

    .slide-customer-name {
      font-family: Inter, sans-serif;
      position: relative;
      top: -33px;
      height: 19px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #F1CFD6;
    }

    .slide-customer-company {
      font-family: Inter, sans-serif;

      position: relative;
      top: -34px;
      height: 15px;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      text-align: center;
      color: #CCCCCC;

    }
  }

  &.previous-slide,
  &.next-slide {
    position: relative;
    top: 39px;
    @media only screen and (max-width: 800px){
      display: none;
    }
  }
  &.previous-slide {
    animation: fadeInLeft 650ms;
  }
  &.next-slide {
    right: 38px;
    animation: fadeInRight 750ms;
  }

  &.active-slide {
    animation-delay: 200ms;
    animation: fadeInToCenter 700ms;
    opacity: 1;
    position: relative;
    left: -19px;
    z-index: 1;
    width: 448px;
    height: 347px;

    @media only screen and (max-width: 790px) {
      left: 0;
      width: 367px;
      height: 412px;
    }
    .slide-quote-div {
      border-radius: 20px;
      background-color: #f2f2f2;
      height: 251px;
      @media only screen and (max-width: 800px) {
        height: 248px;
      }

      .slide-quote-p {
        width: 384px;
        position: relative;
        top: 31px;
        left: 32px;

        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
        @media only screen and (max-width: 800px) {
          width: 343px;
          top: 20px;
          left: 12px;
        }
      }

      .left-double-quotes {
        position: relative;
        top: 20px;
        left: 24px;
        @media only screen and (max-width: 800px) {
          top: 20px;
          left: 12px;
        }
      }

      .right-double-quotes {
        position: relative;
        top: 51px;
        left: 384px;
        @media only screen and (max-width: 800px) {
          top: 14px;
          left: 315px ;
        }
      }
    }
    .slide-customer-review {

      .slide-customer-image {
        position: relative;
        top: -40px;
        left: 184px;
        width: 80px;
        height: 80px;
        @media only screen and (max-width: 800px) {
          left: 144px;
          border: 1px solid #790A22;
          border-radius: 50px;
        }
      }

      .slide-customer-name {
        position: relative;
        top: -36px;
        height: 27px;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #B81034;
        @media only screen and (max-width: 800px) {
          top: -38px;
        }
      }

      .slide-customer-company {
        position: relative;
        top: -36px;
        height: 22px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #333333;
        @media only screen and (max-width: 800px) {
          top: -37px;
        }
      }
    }
  }
}

.pagination {
  list-style-type: none;
  position: absolute;
  top: 377px;
  left: 500px;
  width: 99px;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 6px;
  @media only screen and (max-width: 800px) {
    display: none;
  }

  .pagination-bullet {
    background-color: #F2F2F2;

    border-radius: 10px;
    width: 15px;
    height: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;

    &.pagination-bullet-active {
      background: #B81034;
    }
  }
}

.arrow-left-btn,
.arrow-right-btn {
  z-index: 1;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 367px;
  @media only screen and (max-width: 800px) {
    object-fit: contain;
    height: 50px;
    width: 50px;
    top: 352px;
  }
}
.arrow-left-btn {
  left: 451px;
  @media only screen and (max-width: 800px) {
    left: 124px;
  }
}
.arrow-right-btn {
  right: 451px;
  @media only screen and (max-width: 800px) {
    right: 124px;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    right: 100vw;
  }
  100% {
    opacity: 0.8;
    left: 0;
  }
}
@keyframes fadeInToCenter {
  1% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}